@namespace EmployeeManagementApp.Components.Layout

<div>
    @foreach ( var color in ThemeColors.Items.Values )
    {
        <div @key="color.Key">
            @foreach ( var shade in color.Shades.Values )
            {
                var temp = shade.Value;

                <div @key="shade.Key" class="demo-theme-color-item" style="background: @temp" @onclick="@(()=>OnThemeColorSelect(temp))"></div>
            }
        </div>
    }
</div>
